.Header {
    background-color: cornflowerblue;
    color: bl;
    padding: 20px;
    text-align: center;
}

.Footer {
    background-color: cornflowerblue;
    color: black;
    padding: 20px;
    text-align: center;
}

.bio-container {
    max-width: 800px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.biodata-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.biodata-item {
    background-color: #f79393;
    padding: 20px;
    margin: 10px;
    flex: 0 1 calc(33.33% - 20px);
    box-sizing: border-box;
}
